.list {
  margin: 30px auto 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #000;
  align-items: center;
  border-radius: 6px;
}

.listItem:not(:last-child) {
  margin-bottom: 15px;
}
